<h1>Stampede Decisioning Dashboard - Find Eligible Product Form</h1>

<%= form_tag("/result") do %>

<div class="filed">
  <label>Select product</label>
  <%= select("loan_product", "code", @loan_products.map {|at| [ at[:code], at[:code] ] }, {include_blank: 'all products'}) %>  
</div>
  
  <% @loan_attributes.each do |a| %>
    <% unless ["eliminate-undergraduates","loan-term","lender-specific-rules","minimum-loan-by-states"].include?(a[:name]) %>
      <div class="filed">
        <% if a[:field_type] == 2 %>
          <label><%= a[:label] %></label>
          <%= text_field_tag "loan_attribs["+a[:name].gsub("-","_")+"]", nil %>
        <% elsif a[:field_type] == 3  %>
          <% if a[:name] == "loan-type"  %>
            <label>Loan term and type</label>
            <%= select("loan_attribs", "loan_term_and_type", ["fixed-5-years","fixed-10-years","fixed-15-years","variable"]) %>  
          <% end  %>
        <% elsif a[:field_type] == 4  %>
            <label><%= a[:label] %></label>
            <%= radio_button_tag("loan_attribs["+a[:name].gsub("-","_")+"]", "yes") %>
            <%= label_tag(:age_yes, "yes") %>
            <%= radio_button_tag("loan_attribs["+a[:name].gsub("-","_")+"]", "no") %>
            <%= label_tag(:age_no, "no") %>
        <% else %>
          <label><%= a[:label] %></label>
          <%= select("loan_attribs", a[:name].gsub("-","_"), a[:attributes].map {|at| [ at[:label], at[:name] ] }) %>  
        <% end %>
      </div>
    <% end %>
  <%  end %>
    <%= submit_tag("Check") %>
<%  end %>

<hr>
<%= link_to 'Home', root_path %>